<li>
    {{dataValues.burger_name}}
    <button class="change-stat btn-primary" data-id="{{dataValues.id}}" data-newStat="{{devour}}" data-name ="{{dataValues.burger_name}}">
        {{#if devour}}YUCK!{{else}}YUMM!{{/if}}
    </button>

</li>
